`<h1><%= @sub.id ? 'Edit Sub' : 'Create Sub' %></h1> <%#if there is an id its an update if not its new%>
<hr />
<%= form_for @sub do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, required: true, autofocus: true %>
  <%= f.submit %>
<% end %>